footer {
  margin-top: 16px;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: rgb(128, 128, 137);
  background-color: white;

  .style-information {
    padding: 16px 0px;
  }
  .d-flexs {
    display: flex;
    justify-content: space-between;
  }
  .cm-width {


    p {
      font-size: 12px;
      line-height: 16px;
      color: rgb(128, 128, 137);
      margin-bottom: 12px;
      margin-top: 0px;
    }
    .small-text {
      display: block;
      margin-bottom: 8px;
      color: rgb(128, 128, 137);
    }
    .block:first-child {
      width: 268px;
    }
    .py-3 {
      padding: 16px 0px;

      h1 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color: rgb(56, 56, 61);
        margin-bottom: 12px;
        margin-top: 0px;
      }
      h2 {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        margin-bottom: 4px;
        margin-top: 0px;
        color: rgb(128, 128, 137);
      }
    }
    .block {
      width: 226px;

      h4 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color: rgb(56, 56, 61);
        margin-bottom: 12px;
        margin-top: 0px;
      }
      .security {
        margin-bottom: 8px;
        color: rgb(128, 128, 137);
        font-size: 12px;
        font-weight: 400;

        a {
          color: rgb(128, 128, 137);
        }
      }
      .icon {
        display: inline-block;
        margin-right: 8px;
        margin-bottom: 8px;
        vertical-align: middle;
        width: 32px;
        height: 32px;
      }
      .store-title {
        margin-top: 24px;
      }
      .download-app {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 80px;
      }
    }
    .category {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      column-gap: 20px;

      &-item {
        margin-bottom: 16px;

        &--title {
          font-size: 14px;
          line-height: 20px;
          font-weight: 500;
          color: rgb(56, 56, 61);
          margin-bottom: 4px;
          margin-top: 0px;

          a {
            color: rgb(128, 128, 137);
          }
        }
      }
    }
  }
  .style-line {
    content: " ";
    height: 1px;
    background-color: rgb(235, 235, 240);
    width: 1240px;
    margin-right: auto;
    margin-left: auto;
  }
}
