.main-header--top {
  display: flex;
  flex: 1 1 0%;
  -webkit-box-align: center;
  align-items: center;

  .logo-menu {
    display: flex;
    align-items: flex-start;
    flex-basis: 190px;
    flex-shrink: 0;
    margin-right: 16px;

    .style-logo {
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      flex: 1 1 0%;

      a {
        width: 60px;
        height: 40px;
        display: block;
      }
    }
  }
  .header-form-search {
    width: 100%;
    display: flex;
    position: relative;
    box-shadow: rgb(98 98 98 / 50%) 0px 1px 2px 0px;

    input {
      border: 0px;
      padding: 0px 12px;
      font-size: 13px;
      border-radius: 2px 0px 0px 2px;
      flex: 1 1 0%;
      outline: none;
    }

    button {
      border: 0px;
      width: 120px;
      background: rgb(13, 92, 182);
      height: 40px;
      border-radius: 0px 2px 2px 0px;
      color: white;
      font-size: 13px;
      font-weight: 500;
      outline: none;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;

      img {
        width: 20px;
        height: 20px;
        margin: 0px 8px 0px 0px;
      }
    }
  }

  &__right {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;

    .header-user-shortcut {
      cursor: pointer;
      margin: 0px 0px 0px 16px;
      -webkit-box-align: center;
      align-items: center;
      display: flex;
      color: rgb(255, 255, 255);
      font-size: 12px;
      position: relative;
      letter-spacing: 0.7px;
      width: 162px;

      .profile {
        width: 32px;
        height: 32px;
        margin-right: 8px;
        border-radius: 2px;
      }
      .user-style {
        color: rgb(255, 255, 255);
        font-weight: 400;
        white-space: nowrap;
        display: flex;
        flex-direction: column;

        &__title {
          white-space: nowrap;
          text-overflow: ellipsis;
          display: inline-block;
          overflow: hidden;
          text-transform: capitalize;
          font-size: 11px;
          line-height: 16px;
        }

        .account-label {
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          font-size: 13px;
          line-height: 20px;
          min-width: 120px;

          span {
            max-width: 104px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          img {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
    .header-cart {
      position: relative;
      display: block;

      &-shotcut {
        cursor: pointer;
        margin: 0px 0px 0px 16px;
        -webkit-box-align: center;
        align-items: flex-end;
        display: flex;
        color: rgb(255, 255, 255);
        font-size: 12px;
        position: relative;
        letter-spacing: 0.7px;
        width: 94px;

        .cart-wrapper {
          position: relative;
          margin-right: 8px;
          display: flex;

          .cart-icon  {
            width: 32px;
            height: 32px;
          }
          .cart-number  {
            color: rgb(36, 36, 36);
            background: rgb(253, 216, 53);
            height: 20px;
            left: 20px;
            top: -2px;
            border-radius: 40px;
            display: inline-block;
            text-align: center;
            line-height: 20px;
            font-size: 13px;
            font-weight: 500;
            position: absolute;
            padding: 0px 7px;
          }
        }
      }
    }
  }
}
.main-header--bottom {
position: relative;
z-index: 1;
height: 34px;

&--title {
  position: relative;
  display: flex;
  // padding: 15px 15px;
  justify-content: space-between;

  .left {
    display: flex;

    .img-logo {
      position: absolute;
      top: 0;
    }

    &__link {
      margin-left: 206px;
      display: flex;
      align-items: flex-start;

      a {
        display: block;
        font-size: 11px;
        line-height: 16px;
        color: white;
        margin-right: 12px;
      }
    }
  }


  .seller {
    color: white;
    font-size: 12px;
    margin-bottom: 12px;
    height: 22px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 0px 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    img {
      width: 12px;
      height: 12px;
      margin-right: 4px;

      display: inline-block;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: 0px 0px;
    }
    span {
      line-height: 16px;
      margin-top: 1px;
    }
  }
}

}

