<header class="main-header">
  <div class="cm-width main-header--top">
      <div class="main-header--top pfpi">
        <div class="logo-menu">
          <div class="style-logo">
            <a class="tiki-logo">
              <img src="https://salt.tikicdn.com/ts/upload/ae/f5/15/2228f38cf84d1b8451bb49e2c4537081.png" alt="tiki logo">
            </a>
          </div>
        </div>
        <div class="header-form-search">
            <input type="text">
            <button class="pointer">
              <img src="https://salt.tikicdn.com/ts/upload/ed/5e/b8/8538366274240326978318348ea8af7c.png" alt="">
              tìm kiếm
            </button>
        </div>
        <div class="main-header--top__right">
          <div class="header-user-shortcut">
            <img class="profile" src="https://salt.tikicdn.com/ts/upload/67/de/1e/90e54b0a7a59948dd910ba50954c702e.png" alt="">
            <span class="user-style">
                <span class="user-style__title"> Đăng nhập/Đăng ký</span>
                <span class="account-label">
                  <span>Tài khoản</span>
                  <img src="https://salt.tikicdn.com/ts/upload/d7/d4/a8/34939af2da1ceeeae9f95b7485784233.png" alt="arrowIcon">
                </span>
            </span>
          </div>
          <div class="header-cart">
            <a href="">
              <div class="header-cart-shotcut">
                <div class="cart-wrapper">
                  <img src="https://salt.tikicdn.com/ts/upload/40/44/6c/b80ad73e5e84aeb71c08e5d8d438eaa1.png" alt="" class="cart-icon">
                  <span class="cart-number">
                    9
                  </span>
                </div>
                <span class="cart-title">Giỏ hàng</span>
              </div>

            </a>
          </div>
        </div>
      </div>
  </div>
  <div class="main-header--bottom">
      <div class="cm-width main-header--bottom--title">
        <div class="left">
          <a class="img-logo">
            <img src="https://salt.tikicdn.com/ts/upload/e5/1d/22/61ff572362f08ead7f34ce410a4a6f96.png" alt="" height="12" width="83">
          </a>
          <div class="left__link">
              <a class="item-link">Trái cây</a>
              <a class="item-link">Thịt, trứng</a>
              <a class="item-link">rau củ quả</a>
              <a class="item-link">sữa, bơ, phô mai</a>
              <a class="item-link">hải sản</a>
              <a class="item-link">gạo, mỳ ăn liền</a>
              <a class="item-link">đồ uống, bia rượu</a>
              <a class="item-link">bánh kẹo</a>
          </div>
        </div>

          <a class="seller">
              <img src="https://frontend.tikicdn.com/_desktop-next/static/img/icon-seller.svg" alt="">
              <span>Bán hàng cùng tiki</span>
          </a>
      </div>
  </div>
</header>
