.dashboard-product--item {
  width: 100%;
  height: 100%;

  .product-item {
    text-decoration: none;
    display: flex;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;

    &--style {
      display: flex;
      padding: 12px;
      color: rgb(56, 56, 61);
      text-decoration: none;
      flex-direction: column;
      -webkit-box-pack: justify;
      justify-content: space-between;
      width: 100%;
      height: 100%;

      .thumbnail {
        flex-shrink: 0;
        text-align: center;
        position: relative;
        width: 100%;

        &--icon-badge {
          bottom: 0;
          left: 0;
          display: block;
          position: absolute;
          z-index: 2;
        }
        &--product-img {
          position: relative;
          width: 100%;
          // padding-bottom: 100%;

        }
      }

      .infor {
        .badge-service {
          margin-bottom: 8px;
          margin-top: 12px;
        }
        .name {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;

          p {
            background: rgb(242, 242, 242);
            line-height: 12px;
            display: inline-block;
            padding: 0px 4px;
            font-size: 9px;
            margin: 0px 4px 0px 0px;
            position: relative;
            top: -1px;
            border-radius: 2px;
          }
          .price-discount {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            margin-top: 4px;
            color: rgb(56, 56, 61);

            &__price {
              font-size: 16px;
              line-height: 24px;
              font-weight: 500;
            }
          }
          .has-discount {
            color: rgb(255, 66, 78);

            .price-discount__discount {
              padding: 0px 2px;
              line-height: 14px;
              font-size: 12px;
              font-weight: 400;
              margin-left: 8px;
              border: 1px solid rgb(255, 66, 78);
              border-radius: 2px;
              background-color: rgb(255, 240, 241);
              color: rgb(255, 66, 78);
            }
          }
        }

      }
    }
  }
}
