<div class="dashboard-product--item">
  <a href="" class="product-item">
    <div class="product-item--style">
        <div class="thumbnail">
            <img class="thumbnail--icon-badge" src="https://salt.tikicdn.com/ts/upload/dc/0d/49/ef9dc5d8164bd62b011e54276502b342.png" width="136" height="24" alt="">
            <div class="thumbnail--product-img">
                <img src="https://salt.tikicdn.com/cache/280x280/media/catalog/product/tmp/ef/dd/4e/bf2a14ed2c1593a704ddcffc960f7877.jpg" alt="">
            </div>
        </div>
        <div class="infor">
          <div class="badge-service"></div>
          <div class="name">
            <p>Ad</p>
            <h3 class="fs-10">Combo 2 TúI Nước Giặt Omo Matic Cho Máy Giặt Cửa Trước Bền Đẹp Bền Màu Sau 100 Lần Giặt 3.6Kg</h3>
          </div>
          <div class="price-discount" [ngClass]="{'has-discount': has_discount}">
            <div class="price-discount__price">
              360000 đ
            </div>
            <div class="price-discount__discount">
              25%
            </div>
          </div>
          <div class="badge-under-price">

          </div>
          <div class="badge-benefit">

          </div>
          <div class="badge-add-info">

          </div>
        </div>
    </div>
  </a>
</div>
